{{define "content"}}
<div class="row" style="margin-top: 20px;">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="http://statics.phpcasts.org/uploads/images/2018/05/17/fI7oyIQCjC.jpg?imageView2/1/w/357/h/210/ignore-error/1/&e=1546503947&token=qvuNOgNkZMAJXYEPSHBT-6JEigk2AechM_fm57zS:bOUmGPymTqke0xg2YazsduqhCkk=">
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
            <div class="card-body">
                <p class="card-text">This is a wider .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="http://statics.phpcasts.org/uploads/images/2018/05/17/fI7oyIQCjC.jpg?imageView2/1/w/357/h/210/ignore-error/1/&e=1546503947&token=qvuNOgNkZMAJXYEPSHBT-6JEigk2AechM_fm57zS:bOUmGPymTqke0xg2YazsduqhCkk=">
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="http://statics.phpcasts.org/uploads/images/2018/05/17/fI7oyIQCjC.jpg?imageView2/1/w/357/h/210/ignore-error/1/&e=1546503947&token=qvuNOgNkZMAJXYEPSHBT-6JEigk2AechM_fm57zS:bOUmGPymTqke0xg2YazsduqhCkk=">
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="http://statics.phpcasts.org/uploads/images/2018/05/17/fI7oyIQCjC.jpg?imageView2/1/w/357/h/210/ignore-error/1/&e=1546503947&token=qvuNOgNkZMAJXYEPSHBT-6JEigk2AechM_fm57zS:bOUmGPymTqke0xg2YazsduqhCkk=">
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
</div>
<div class="row">
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <svg class="bd-placeholder-img card-img-top" width="100%" height="225" xmlns="http://www.w3.org/2000/svg" preserveAspectRatio="xMidYMid slice" focusable="false" role="img" aria-label="Placeholder: Thumbnail"><title>Placeholder</title><rect fill="#55595c" width="100%" height="100%"/><text fill="#eceeef" dy=".3em" x="50%" y="50%">Thumbnail</text></svg>
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="http://statics.phpcasts.org/uploads/images/2018/05/17/fI7oyIQCjC.jpg?imageView2/1/w/357/h/210/ignore-error/1/&e=1546503947&token=qvuNOgNkZMAJXYEPSHBT-6JEigk2AechM_fm57zS:bOUmGPymTqke0xg2YazsduqhCkk=">
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
    <div class="col-md-4">
        <div class="card mb-4 shadow-sm">
            <img src="http://statics.phpcasts.org/uploads/images/2018/05/17/fI7oyIQCjC.jpg?imageView2/1/w/357/h/210/ignore-error/1/&e=1546503947&token=qvuNOgNkZMAJXYEPSHBT-6JEigk2AechM_fm57zS:bOUmGPymTqke0xg2YazsduqhCkk=">
            <div class="card-body">
                <p class="card-text">This is a wider card .</p>
                <div class="d-flex justify-content-between align-items-center">
                    <div class="btn-group">
                        <button type="button" class="btn btn-sm btn-outline-secondary">View</button>
                        <button type="button" class="btn btn-sm btn-outline-secondary">Edit</button>
                    </div>
                    <small class="text-muted">9 mins</small>
                </div>
            </div>
        </div>
    </div>
</div>

{{end}}