<footer class="site-footer">
    <div class="footer-top light-black">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_about_us">
                            <!-- <h4>Courseware</h4>-->
                            <img class="footer-logo" src="images/logo2.png" alt="Site Logo">
                            <div class="widget-details"><p> We are a team of different geeks that believe in producing
                                top-quality courses and category based on best videos.</p>
                                <ul>
                                    <li><i class="fa fa-phone-square"></i>088 12345 67890</li>
                                    <li><i class="fa fa-envelope-square"></i><a href="#">info@courseware.com</a></li>
                                </ul>
                                <div class="widget-social text-center"><a href="#"><i class="fab fa-facebook-f"></i></a><a
                                        href="#"><i class="fab fa-twitter"></i></a><a href="#"><i
                                        class="fab fa-google-plus-square"></i></a><a href="#"><i
                                        class="fab fa-youtube"></i></a></div>
                                <!-- /.widget-social -->
                            </div>
                            <!-- /.widget-details -->
                        </div>
                        <!-- /.widget -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_nav_menu"><h4>Quick Links</h4>
                            <div class="widget-details">
                                <ul class="menu">
                                    <li class="menu-item"><a href="#"><i
                                            class="fa fa-angle-double-right"></i>Courses</a></li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>Events</a>
                                    </li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>About
                                        Us</a></li>
                                    <li class="menu-item"><a href="#"><i
                                            class="fa fa-angle-double-right"></i>Gallery</a></li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>Become a
                                        Teacher</a></li>
                                    <li class="menu-item"><a href="#"><i
                                            class="fa fa-angle-double-right"></i>Contact</a></li>
                                </ul>
                            </div>
                            <!-- /.widget-details -->
                        </div>
                        <!-- /.widget -->
                    </div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_recnt_news"><h4>News</h4>
                            <div class="widget-details">
                                <article class="post type-post media">
                                    <div class="entry-thumbnail float-left"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/footer/1.jpg"
                                                                                 alt="Entry Thumbnail"></div>
                                    <!-- /.entry-thumbnail -->
                                    <div class="entry-content media-body"><h3 class="entry-title"><a href="#">Guide to
                                        WordPress Custom Post Type</a></h3>
                                        <!-- /.entry-thumbnail -->
                                        <div class="entry-meta"><span><i class="icon-bubble"></i>23 Comments</span>
                                        </div>
                                        <!-- /.entry-meta -->
                                    </div>
                                    <!-- /.entry-content -->
                                </article>
                                <!-- /.post -->
                                <article class="post type-post media">
                                    <div class="entry-thumbnail float-left"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/footer/1.jpg"
                                                                                 alt="Entry Thumbnail"></div>
                                    <!-- /.entry-thumbnail -->
                                    <div class="entry-content media-body"><h3 class="entry-title"><a href="#">SEO
                                        friendly WordPress and Squarespace</a></h3><!-- /.entry-thumbnail -->
                                        <div class="entry-meta"><span><i class="icon-bubble"></i>23 Comments</span>
                                        </div><!-- /.entry-meta --></div><!-- /.entry-content --></article>
                                <!-- /.post -->
                                <article class="post type-post media">
                                    <div class="entry-thumbnail float-left"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/footer/1.jpg"
                                                                                 alt="Entry Thumbnail"></div>
                                    <!-- /.entry-thumbnail -->
                                    <div class="entry-content media-body"><h3 class="entry-title"><a href="#">David
                                        Braun: Chief Monster of Web Design</a></h3><!-- /.entry-thumbnail -->
                                        <div class="entry-meta"><span><i class="icon-bubble"></i>23 Comments</span>
                                        </div><!-- /.entry-meta --></div><!-- /.entry-content --></article>
                                <!-- /.post --></div><!-- /.widget-details --></div><!-- /.widget --></div>
                    <div class="col-lg-3 col-md-6">
                        <div class="widget widget_nav_menu"><h4>Support</h4>
                            <div class="widget-details">
                                <ul class="menu">
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>FAQ</a>
                                    </li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>Documentation</a>
                                    </li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>Forums</a>
                                    </li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>Career</a>
                                    </li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>Community</a>
                                    </li>
                                    <li class="menu-item"><a href="#"><i class="fa fa-angle-double-right"></i>Management</a>
                                    </li>
                                </ul>
                            </div>
                            <!-- /.widget-details -->
                        </div>
                        <!-- /.widget -->
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section-padding -->
    </div>
    <!-- /.footer-top -->
    <div class="footer-bottom black-bg">
        <div class="section-padding">
            <div class="container">
                <div class="row">
                    <div class="col-md-8">
                        <div class="copy-right float-left"><span>Copyright © 2018 <a href="http://www.bootstrapmb.com" target="_blank" rel="nofollow">Courseware</a>, All rights reservs</span>
                        </div><!-- /.copy-right --></div>
                    <div class="col-md-4">
                        <ul class="menu float-right">
                            <li class="menu-item"><a href="#">Privacy</a></li>
                            <li class="menu-item"><a href="#">Terms</a></li>
                            <li class="menu-item"><a href="#">Sitemap</a></li>
                        </ul>
                    </div>
                </div>
                <!-- /.row -->
            </div>
            <!-- /.container -->
        </div>
        <!-- /.section-padding -->
    </div>
    <!-- /.footer-bottom -->
</footer>

<!-- Optional JavaScript -->
<!-- jQuery first, then Popper.js, then Bootstrap JS -->
<script src="https://cdn.bootcss.com/jquery/3.3.1/jquery.slim.min.js"></script>
<script src="https://cdn.bootcss.com/popper.js/1.14.6/umd/popper.min.js"></script>
<script src="https://cdn.bootcss.com/twitter-bootstrap/4.2.1/js/bootstrap.min.js"></script>
<script src="https://cdn.jsdelivr.net/npm/vue@2.5.22/dist/vue.js"></script>