<!DOCTYPE html>
<html>
<head>
    <title>{{ .title }} - 1024课堂</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <meta http-equiv="Content-Type" content="text/html; charset=utf-8">
    <!-- Bulma CSS -->
    <link href="https://cdn.bootcss.com/bulma/0.7.4/css/bulma.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/font-awesome/5.8.1/css/all.min.css" rel="stylesheet">
    <link href="/static/css/app.css" rel="stylesheet">
    <link rel="shortcut icon" href="/static/images/favicon.ico" />
    {{block "css" .}}
    {{end}}
</head>
<body>
    {{if eq (isActive .ctx "/") "is-active"}}
    <section class="hero is-light is-fullheight">
        <div class="hero-head">
            <div class="container">
                {{include "layouts/header"}}
            </div>
        </div>
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    终生学习
                </p>
{{/*                <p class="subtitle">*/}}
{{/*                    “学习的最好方法就是做” - P.R. Halmos*/}}
{{/*                </p>*/}}
            </div>
        </div>
    </section>
    {{else}}
    <section class="hero is-light is-large">
        <div class="hero-head">
            <div class="container">
                {{include "layouts/header"}}
            </div>
        </div>
    </section>
    {{end}}

    {{template "content" .}}

    {{include "layouts/footer"}}

    {{include "partials/stat"}}

    {{block "js" .}}
    {{end}}
</body>
</html>