<nav class="navbar navbar-expand-lg" style="background-color: #e3f2fd;">
    <a class="navbar-brand" href="#">1024课堂</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarColor03" aria-controls="navbarColor03" aria-expanded="false" aria-label="Toggle navigation">
        <span class="navbar-toggler-icon"></span>
    </button>

    <div class="collapse navbar-collapse" id="navbarColor03">
        <ul class="navbar-nav mr-auto">
            <li class="nav-item active">
                <a class="nav-link" href="/">首页 <span class="sr-only">(current)</span></a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/courses">课程</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/topics">社区</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/vip">订阅</a>
            </li>
            <li class="nav-item">
                <a class="nav-link" href="/wiki">知识库</a>
            </li>

            <li class="nav-item">
                <form class="form-inline">
                    <input class="form-control mr-sm-2" type="search" placeholder="Search" aria-label="Search">
                    <button class="btn btn-outline-primary my-2 my-sm-0" type="submit">Search</button>
                </form>
            </li>
        </ul>
        {{if .user_id }}
        <div class="dropdown">
            <button class="btn btn-secondary dropdown-toggle" type="button" id="dropdownMenu2" data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
                Dropdown
            </button>
            <div class="dropdown-menu" aria-labelledby="dropdownMenu2">
                <button class="dropdown-item" type="button">Action</button>
                <button class="dropdown-item" type="button">Another action</button>
                <button class="dropdown-item" type="button">Something else here</button>
            </div>
        </div>
        {{ else }}
            <button class="btn btn-outline-primary my-2 my-sm-0">登录</button>
            <button class="btn btn-outline-primary my-2 my-sm-0">注册</button>
        {{ end }}
    </div>
</nav>