{{ define "css"}}
    {{include "common/highlight-css-all"}}
    <style type="text/css">
        body {background: #e5e5e5;}
    </style>
{{ end }}

{{define "content"}}
    <div class="container" style="padding: 1.5rem 0rem;">
        <div class="columns">
            <div class="column box is-one-fifth">
                {{include "wiki/sidebar"}}
            </div>
            <div class="column box" style="margin-left: 0.5rem;">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <h1 class="title is-4">
                                {{.wiki.Title}}
                            </h1>
                            <p class="subtitle is-6">
                                {{.wiki.FixCount}} 次修正 · {{.wiki.ViewCount}} 次阅读 · 最后更新于{{.wiki.UpdatedAt}}
                                {{if eq .user_id .wiki.UserId}}
                                    · <a href="/wk/edit//{{.wiki.Slug}}">编辑</a>
                                {{end}}
                            </p>
                            <hr>
                        </div>
                        <div class="content">
                            {{.wiki.Content}}
                        </div>
                    </div>
                </article>
            </div>
        </div>
    </div>
{{end}}

{{ define "js"}}
    {{include "common/highlight-js-all"}}
{{ end }}
