{{define "content"}}

<section class="portfolio text-center">
    <div class="section-padding">
        <div class="container">
            <ul class="filter">
                <li><a class="active" href="#" data-filter="*">All works</a></li>
                <li><a href="#" data-filter=".cat-1" class="">Courses</a></li>
                <li><a href="#" data-filter=".cat-2" class="">Research</a></li>
                <li><a href="#" data-filter=".cat-3" class="">Publications</a></li>
            </ul>
            <div class="portfolio-items" style="position: relative;height: 989.391px;">
                <div class="item cat-1" style="position: absolute; left: 0%; top: 0px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/1.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-2" style="position: absolute; left: 33.2489%; top: 0px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/2.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-3" style="position: absolute; left: 66.5823%; top: 0px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/3.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-1" style="position: absolute; left: 0%; top: 329px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/4.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-2" style="position: absolute; left: 33.2489%; top: 329px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/5.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-3" style="position: absolute; left: 66.5823%; top: 329px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/6.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-1" style="position: absolute; left: 0%; top: 659px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/7.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-2" style="position: absolute; left: 33.2489%; top: 659px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/8.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item -->
                <div class="item cat-3" style="position: absolute; left: 66.5823%; top: 659px;">
                    <div class="item-inner"><img src="http://v.bootstrapmb.com/2018/7/g0oy1695/images/portfolio/9.jpg" alt="Portfolio Image">
                        <div class="item-details">
                            <div class="details-inner"><h3 class="item-title"><a href="portfolio-single.html">Portfolio
                                Item Title</a></h3><!-- /.item-title --><span class="category-name">Category</span>
                                <!-- /.category-name --></div><!-- /.details-inner --></div><!-- /.item-details -->
                    </div><!-- /.item-inner --></div><!-- /.item --></div><!-- /.portfolio-items -->
        </div><!-- /.container --></div><!-- /.section-padding --></section>

{{end}}

{{ define "css"}}
{{ end }}

{{ define "js"}}
{{ end }}
