<link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/default.min.css" rel="stylesheet">
{{/*<link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/github.min.css" rel="stylesheet">*/}}
<link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/github-gist.min.css" rel="stylesheet">
{{/*<link href="https://cdn.bootcss.com/highlight.js/9.15.10/styles/googlecode.min.css" rel="stylesheet">*/}}
<style type="text/css">
    .content pre {
        padding: 0.15em 0.15em;
    }
</style>