<script src="https://cdn.bootcss.com/highlight.js/9.15.10/highlight.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/basic.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/bash.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/dockerfile.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/go.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/javascript.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/json.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/markdown.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/makefile.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/php.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/protobuf.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/htmlbars.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/sql.min.js"></script>
<script src="https://cdn.bootcss.com/highlight.js/9.15.10/languages/yaml.min.js"></script>
<script>
    document.addEventListener('DOMContentLoaded', (event) => {
        document.querySelectorAll('pre code').forEach((block) => {
            hljs.highlightBlock(block);
        });
    });
</script>