{{ define "css"}}
<style type="text/css">
    /*body {background: #e5e5e5;}*/
</style>
{{ end }}

{{define "content"}}

    <section class="hero is-primary is-bold">
        <div class="hero-body">
            <div class="container has-text-centered">
                <p class="title">
                    持续更新
                </p>
                <p class="subtitle">
                    享受编程和技术所带来的乐趣
                </p>
                {{include "partials/course_list"}}
            </div>
        </div>
    </section>

    <section class="hero is-light is-medium">
        <div class="hero-body">
        <nav class="level">
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">课程</p>
                    <p class="title">{{.courseTotalCount}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">视频</p>
                    <p class="title">{{.videoTotalCount}}</p>
                </div>
            </div>
            <div class="level-item has-text-centered">
                <div>
                    <p class="heading">分钟</p>
                    <p class="title">{{.videoTotalMinute}}</p>
                </div>
            </div>
{{/*            <div class="level-item has-text-centered">*/}}
{{/*                <div>*/}}
{{/*                    <p class="heading">会员</p>*/}}
{{/*                    <p class="title">789</p>*/}}
{{/*                </div>*/}}
{{/*            </div>*/}}
        </nav>
        </div>
    </section>

    <section id="newsletter" class="section is-medium">
        <div class="container">
            <div class="columns is-vcentered">
                <div class="column">
                    <p class="title">订阅</p>
                    <p class="subtitle is-6 has-text-grey-light">可以在线学习这里所有的课程</p>
                </div>

                <div class="column">
                    <a class="button is-medium is-link" href="/vip">
                        <strong>马上订阅</strong>
                    </a>
                </div>
            </div>
        </div>
    </section>

{{end}}

{{ define "js"}}
{{ end }}