{{ define "css"}}
    <link href="https://1024casts.com/css/github-markdown.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/prism/9000.0.1/themes/prism.min.css" rel="stylesheet">
    <link href="https://cdn.bootcss.com/prism/9000.0.1/plugins/show-language/prism-show-language.min.css" rel="stylesheet">
<style type="text/css">
    /*body {*/
    /*    background: #e5e5e5;*/
    /*}*/
    .subtitle {
        padding-top: 0.5rem;
        color: #969696;
    }
    .subtitle{
        font-size: 14px;
    }
    .media-content {
        font-size: 14px;
        line-height: 10px;
    }
</style>
{{ end }}

{{define "content"}}
    <div class="container" style="padding: 2rem 0rem;">
        <div class="columns">
            <div class="column is-9">
                <article class="media box">
                    <div class="media-content">
                        <div class="content">
                            <h1 class="title is-4">
                                {{.topic.Title}}
                            </h1>
                            <p class="subtitle">
                                <a data-author="true" data-name="{{.topic.UserInfo.Username}}" href="/users/{{.topic.UserInfo.Username}}">
                                    {{.topic.UserInfo.Username}}
                                </a>
                                ·
                                <abbr class="timeago" title="{{.topic.CreatedAt}}">{{.topic.CreatedAt}}</abbr>
                                {{if gt .topic.LastReplyUserId 0}}
                                    <span class="hidden-mobile"> ·
                                        最后由 <a class="subtitle is-6" data-name="{{.topic.LastReplyUserInfo.Username}}" href="/users/{{.topic.LastReplyUserInfo.Username}}">{{.topic.LastReplyUserInfo.Username}}</a>
                                        回复于 <abbr class="timeago" title="{{.topic.LastReplyTimeAt}}">{{.topic.LastReplyTimeAt}}</abbr>
                                        </span>
                                {{end}}
                                · {{.topic.ViewCount}} 次阅读
                            </p>
                            <hr>
                        </div>
                        <div class="content">
                            {{.topic.Body}}
                        </div>
                    </div>
                </article>

                {{if gt .topic.ReplyCount 0}}
                <div id="replies" class="box">
                    <h3>共收到 <strong>{{.topic.ReplyCount}}</strong> 条回复</h3>
                    <hr>
                    {{ range $index, $value := .replies}}
                        <article class="media">
                            <figure class="media-left">
                                <p class="image is-64x64">
                                    <img class="is-rounded" src="{{.ReplyUserInfo.Avatar}}">
                                </p>
                            </figure>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong>{{.ReplyUserInfo.Username}}</strong> <small>{{.CreatedAt}}</small>
                                        <br>
                                        {{.Body}}
                                    </p>
                                </div>
                                <nav class="level is-mobile">
                                    <div class="level-left">
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-reply"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-retweet"></i></span>
                                        </a>
                                        <a class="level-item">
                                            <span class="icon is-small"><i class="fas fa-heart"></i></span>
                                        </a>
                                    </div>
                                </nav>
                            </div>
                        </article>
                    {{end}}
                </div>
                {{end}}

                <div id="reply-box" class="box">
                    <article class="media">
                        <figure class="media-left">
                            <p class="image is-64x64">
                                <img src="{{.user.Avatar}}">
                            </p>
                        </figure>
                        <div class="media-content">
                            <div class="field">
                                <p class="control">
                                    <textarea class="textarea" placeholder="Add a comment..."></textarea>
                                </p>
                            </div>
                            <nav class="level">
                                <div class="level-left">
                                    <div class="level-item">
                                        <a class="button is-info">Submit</a>
                                    </div>
                                </div>
                                <div class="level-right">
                                    <div class="level-item">
                                        <label class="checkbox">
                                            <input type="checkbox"> Press enter to submit
                                        </label>
                                    </div>
                                </div>
                            </nav>
                        </div>
                    </article>
                </div>
            </div>
            <div class="column is-3">
                <nav class="panel">
                    <p class="panel-heading">
                        今日热门帖子
                    </p>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        bulma
                    </a>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        marksheet
                    </a>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        minireset.css
                    </a>
                    <a class="panel-block">
    <span class="panel-icon">
      <i class="fas fa-book" aria-hidden="true"></i>
    </span>
                        jgthms.github.io
                    </a>
                    <div class="panel-block">
                        <button class="button is-link is-outlined is-fullwidth">
                            reset all filters
                        </button>
                    </div>
                </nav>
            </div>
        </div>
    </div>
{{end}}

{{ define "js"}}
    <script src="https://cdn.bootcss.com/prism/9000.0.1/prism.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-go.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-php.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-javascript.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-markdown.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/9000.0.1/plugins/show-language/prism-show-language.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-markup.min.js"></script>
    <script src="https://cdn.bootcss.com/prism/9000.0.1/components/prism-bash.min.js"></script>
{{ end }}