{{ define "css"}}
    <link href="https://cdn.bootcss.com/simplemde/1.11.2/simplemde.min.css" rel="stylesheet">
    <style type="text/css">
        body {background: #e5e5e5;}
    </style>
{{ end }}

{{define "content"}}
    <div class="container" style="padding: 2rem 0rem;">
        <div class="columns">
            <div class="column is-three-quarters">
                <div class="card">
                    <div class="card-content">
                        <div class="content">
                            <form id="app" @submit="saveTopic">
                                <div class="field">
                                    <label class="label">标题</label>
                                    <div class="control">
                                        <input type="text" class="input" name="title" id="title" placeholder="请填写标题" v-model="title" required>
                                    </div>
                                </div>
                                <div class="field">
                                    <label class="label">分类</label>
                                    <div class="control">
                                        <div class="select">
                                            <select name="category_id" id="category_id" v-model="category_id">
                                                <option>请选择</option>
                                                {{range .categories}}
                                                    <option value="{{.Id}}">{{.Name}}</option>
                                                {{end}}
                                            </select>
                                        </div>
                                    </div>
                                </div>
                                <div class="notification is-info">
                                    <div class="content">
                                        <ol>
                                            <li>请注意单词拼写，以及中英文排版，参考此页</li>
                                            <li>支持 Markdown 格式, **粗体**、~~删除线~~、`单行代码`, 更多语法请见这里 Markdown 语法</li>
                                            <li>发布框支持本地存储功能，会在内容变更时保存，「提交」按钮点击时清空</li>
                                        </ol>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <textarea name="body" id="body" v-model="body" class="textarea" rows="10" placeholder="请使用Markdown格式书写:), 代码片段黏贴时请注意使用高亮语法。"></textarea>
                                    </div>
                                </div>
                                <div class="field">
                                    <div class="control">
                                        <button class="button is-link" type="submit" id="topic-submit">更新帖子</button>
                                    </div>
                                </div>
                            </form>
                        </div>
                    </div>
                </div>
            </div>
            <div class="column">
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Component
                        </p>
                    </header>
                    <div class="card-content">
                        <div class="content">
                            Lorem ipsum dolor sit amet, consectetur adipiscing elit. Phasellus nec iaculis mauris.
                        </div>
                    </div>
                </div>
                <br>
                <div class="card">
                    <header class="card-header">
                        <p class="card-header-title">
                            Component
                        </p>
                    </header>
                    <div class="card-image">
                        <figure class="image is-4by3">
                            <img src="https://bulma.io/images/placeholders/1280x960.png" alt="Placeholder image">
                        </figure>
                    </div>
                    <div class="card-content">
                        <div class="content">
                            Lorem ipsum dolor.
                        </div>
                    </div>
                    <footer class="card-footer">
                        <a href="#" class="card-footer-item">Save</a>
                        <a href="#" class="card-footer-item">Edit</a>
                    </footer>
                </div>
                <div class="card">

                </div>
                <div class="card">

                </div>
            </div>
        </div>
    </div>
{{end}}}

{{define "js"}}
    {{include "topic/editor"}}
    <script type="text/javascript">
        var app = new Vue({
            el: '#app',
            data: {
                title: {{.topic.Title}},
                category_id: {{.topic.CategoryID}},
                body: {{.topic.OriginBody}},
            },
            delimiters:['${', '}'],
            methods: {
                saveTopic: function (e) {
                    e.preventDefault();
                    if (this.title === '') {
                        swal("请正确填写标题！", "","warning");
                        return false;
                    }
                    if (this.category_id === 0) {
                        swal("请选择正确的分类", "","warning");
                        return false;
                    }
                    if (this.body === '') {
                        swal("请正确填写评论！", "","warning");
                        return false;
                    }
                    var bodyFormData = new FormData();
                    bodyFormData.set("category_id", this.category_id);
                    bodyFormData.set("title", this.title);
                    bodyFormData.set("origin_body", this.body);
                    bodyFormData.set("body", marked(this.body));
                    let config = {
                        headers: {
                            'Content-Type': 'multipart/form-data'
                        }
                    };
                    this.$http.post("/topic/edit/{{.topic.Id}}", bodyFormData, config).then((response) => {
                        console.log(response);
                        if (response.data.code === 0) {
                            // http://mishengqiang.com/sweetalert/
                            window.location.href = "/topics/{{.topic.Id}}";
                            return true;
                        } else {
                            swal("发布失败！", "","error");
                            return false;
                        }
                    }).catch( error => {
                        console.log(error);
                    });
                }
            }
        });
    </script>
{{end}}}