{{ define "css"}}
    <style type="text/css">
        /*body {*/
        /*    background: #e5e5e5;*/
        /*}*/
        .topNav .container {
            border-bottom: 1px solid #E6EAEE;
        }
        .container .columns {
            margin: 1rem 0;
        }
        article.post {
            margin: 1rem;
            padding-bottom: 1rem;
            border-bottom: 1px solid #E6EAEE;
        }
        .media-content strong a {
            color: currentColor;
        }
        .media-content p {
            font-size: 14px;
            line-height: 2.3;
            font-weight: 700;
            color: #8F99A3;
        }
        .media + .media {
            margin-top: 0.3rem;
            padding-top: 0.3rem;
        }

        .panel-heading {
            font-size: 1em;
            padding: 0.3em 0.75em;
        }
    </style>
{{ end }}

{{define "content"}}
    <section class="container">
        <div class="columns">
            <div class="column is-9">
                <div class="box content">
                    {{ range $index, $value := .topics}}
                    <article class="media">
                            <div class="media-left">
                                <p class="image is-48x48">
                                    <img class="is-rounded" src="{{.UserInfo.Avatar}}">
                                </p>
                            </div>
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <strong><a href="/topics/{{.Id}}">{{.Title}}</a></strong>
                                        <br>
                                        <span class="tag">Question</span>
                                        <a href="/users/{{.UserInfo.Username}}">@{{.UserInfo.Username}}</a> •
                                        {{if gt .LastReplyUserId 0}} 最后由
                                            <a class="user-name" data-name="{{.LastReplyUserInfo.Username}}" href="/users/{{.LastReplyUserInfo.Username}}">
                                                {{.LastReplyUserInfo.Username}}
                                            </a> •
                                            回复于 <abbr class="timeago" title="{{.LastReplyTimeAt}}">{{.LastReplyTimeAt}}</abbr>
                                        {{else}}
                                            发布于 <abbr class="timeago" title="{{.CreatedAt}}">{{.CreatedAt}}</abbr>
                                        {{end}}
                                    </p>
                                </div>
                            </div>
                            <div class="media-right">
                                <span class="has-text-grey-light"><i class="fa fa-comments"></i> {{.ReplyCount}}</span>
                            </div>
                    </article>
                    {{end}}
                </div>
                <nav class="box pagination is-rounded" role="navigation" aria-label="pagination">
                    {{.pages}}
                </nav>
            </div>
            <div class="column is-3">
                {{if gt .user_id 0}}
                    <div class="box">
                        <a class="button is-primary is-block is-alt is-medium" href="/topic/new">新建话题</a>
                    </div>
                {{end}}

                <nav class="panel">
                    <p class="panel-heading">
                        <strong>今日阅读排行</strong>
                    </p>
                    <a class="panel-block" style="font-size: 0.9rem;">哇哈哈</a>
                </nav>


{{/*                <nav class="panel">*/}}
{{/*                    <p class="panel-heading">*/}}
{{/*                        <strong>一周阅读排行</strong>*/}}
{{/*                    </p>*/}}
{{/*                    <a class="panel-block" style="font-size: 0.9rem;">哇哈哈</a>*/}}
{{/*                </nav>*/}}

{{/*                <nav class="panel">*/}}
{{/*                    <p class="panel-heading">*/}}
{{/*                        <strong>统计信息</strong>*/}}
{{/*                    </p>*/}}
{{/*                    <a class="panel-block" style="font-size: 0.9rem;">哇哈哈</a>*/}}
{{/*                </nav>*/}}
            </div>
        </div>

    </section>
{{end}}

{{ define "js"}}
{{ end }}
