{{define "content"}}
<div class="container">
<div class="row">
    <div class="col-md-9">
        <div class="card">
            <div class="card-body item-list">
                <div class="topic media">
                    <div class="avatar">
                        <a title="lanzhiheng (蓝智恒)" href="/lanzhiheng"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/25043/744a59.png!md"></a>
                    </div>
                    <div class="infos media-body">
                        <div class="title media-heading">
                            <a title="你是 “最佳实践” 的受害者吗" href="/topics/38057">
                                <span class="node">分享</span>
                                你是 “最佳实践” 的受害者吗
                            </a>      <i title="" class="fa fa-diamond" data-toggle="tooltip" data-original-title="精华帖"></i>

                        </div>
                        <div class="info">
                            <a class="user-name" data-name="蓝智恒" href="/lanzhiheng">lanzhiheng</a>
                            <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="lanzhiheng" href="/lanzhiheng">lanzhiheng</a> 回复于 <abbr class="timeago" title="2019年02月05日">6 小时前</abbr>
      </span>
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/topics/38057#reply-350595">29</a>
                    </div>
                </div>
                <div class="topic media">
                    <div class="avatar">
                        <a title="lanzhiheng (蓝智恒)" href="/lanzhiheng"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/25043/744a59.png!md"></a>
                    </div>
                    <div class="infos media-body">
                        <div class="title media-heading">
                            <a title="你是 “最佳实践” 的受害者吗" href="/topics/38057">
                                <span class="node">分享</span>
                                你是 “最佳实践” 的受害者吗
                            </a>      <i title="" class="fa fa-diamond" data-toggle="tooltip" data-original-title="精华帖"></i>

                        </div>
                        <div class="info">
                            <a class="user-name" data-name="蓝智恒" href="/lanzhiheng">lanzhiheng</a>
                            <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="lanzhiheng" href="/lanzhiheng">lanzhiheng</a> 回复于 <abbr class="timeago" title="2019年02月05日">6 小时前</abbr>
      </span>
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/topics/38057#reply-350595">29</a>
                    </div>
                </div>
                <div class="topic media">
                    <div class="avatar">
                        <a title="lanzhiheng (蓝智恒)" href="/lanzhiheng"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/25043/744a59.png!md"></a>
                    </div>
                    <div class="infos media-body">
                        <div class="title media-heading">
                            <a title="你是 “最佳实践” 的受害者吗" href="/topics/38057">
                                <span class="node">分享</span>
                                你是 “最佳实践” 的受害者吗
                            </a>      <i title="" class="fa fa-diamond" data-toggle="tooltip" data-original-title="精华帖"></i>

                        </div>
                        <div class="info">
                            <a class="user-name" data-name="蓝智恒" href="/lanzhiheng">lanzhiheng</a>
                            <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="lanzhiheng" href="/lanzhiheng">lanzhiheng</a> 回复于 <abbr class="timeago" title="2019年02月05日">6 小时前</abbr>
      </span>
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/topics/38057#reply-350595">29</a>
                    </div>
                </div>
                <div class="topic media">
                    <div class="avatar">
                        <a title="lanzhiheng (蓝智恒)" href="/lanzhiheng"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/25043/744a59.png!md"></a>
                    </div>
                    <div class="infos media-body">
                        <div class="title media-heading">
                            <a title="你是 “最佳实践” 的受害者吗" href="/topics/38057">
                                <span class="node">分享</span>
                                你是 “最佳实践” 的受害者吗
                            </a>      <i title="" class="fa fa-diamond" data-toggle="tooltip" data-original-title="精华帖"></i>

                        </div>
                        <div class="info">
                            <a class="user-name" data-name="蓝智恒" href="/lanzhiheng">lanzhiheng</a>
                            <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="lanzhiheng" href="/lanzhiheng">lanzhiheng</a> 回复于 <abbr class="timeago" title="2019年02月05日">6 小时前</abbr>
      </span>
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/topics/38057#reply-350595">29</a>
                    </div>
                </div>
                <div class="topic media">
                    <div class="avatar">
                        <a title="lanzhiheng (蓝智恒)" href="/lanzhiheng"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/18852.jpg!md"></a>
                    </div>
                    <div class="infos media-body">
                        <div class="title media-heading">
                            <a title="你是 “最佳实践” 的受害者吗" href="/topics/38057">
                                <span class="node">分享</span>
                                你是 “最佳实践” 的受害者吗
                            </a>      <i title="" class="fa fa-diamond" data-toggle="tooltip" data-original-title="精华帖"></i>

                        </div>
                        <div class="info">
                            <a class="user-name" data-name="蓝智恒" href="/lanzhiheng">lanzhiheng</a>
                            <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="lanzhiheng" href="/lanzhiheng">lanzhiheng</a> 回复于 <abbr class="timeago" title="2019年02月05日">6 小时前</abbr>
      </span>
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/topics/38057#reply-350595">29</a>
                    </div>
                </div>
                <div class="topic media">
                    <div class="avatar">
                        <a title="lanzhiheng (蓝智恒)" href="/lanzhiheng"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/25043/744a59.png!md"></a>
                    </div>
                    <div class="infos media-body">
                        <div class="title media-heading">
                            <a title="你是 “最佳实践” 的受害者吗" href="/topics/38057">
                                <span class="node">分享</span>
                                你是 “最佳实践” 的受害者吗
                            </a>      <i title="" class="fa fa-diamond" data-toggle="tooltip" data-original-title="精华帖"></i>

                        </div>
                        <div class="info">
                            <a class="user-name" data-name="蓝智恒" href="/lanzhiheng">lanzhiheng</a>
                            <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="lanzhiheng" href="/lanzhiheng">lanzhiheng</a> 回复于 <abbr class="timeago" title="2019年02月05日">6 小时前</abbr>
      </span>
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/topics/38057#reply-350595">29</a>
                    </div>
                </div>
                <div class="topic media">
                    <div class="avatar">
                        <a title="lanzhiheng (蓝智恒)" href="/lanzhiheng"><img class="media-object avatar-48" src="https://l.ruby-china.com/user/avatar/25043/744a59.png!md"></a>
                    </div>
                    <div class="infos media-body">
                        <div class="title media-heading">
                            <a title="你是 “最佳实践” 的受害者吗" href="/topics/38057">
                                <span class="node">分享</span>
                                你是 “最佳实践” 的受害者吗
                            </a>      <i title="" class="fa fa-diamond" data-toggle="tooltip" data-original-title="精华帖"></i>

                        </div>
                        <div class="info">
                            <a class="user-name" data-name="蓝智恒" href="/lanzhiheng">lanzhiheng</a>
                            <span class="hidden-mobile">
      •
        最后由 <a class="user-name" data-name="lanzhiheng" href="/lanzhiheng">lanzhiheng</a> 回复于 <abbr class="timeago" title="2019年02月05日">6 小时前</abbr>
      </span>
                        </div>
                    </div>
                    <div class="count media-right">
                        <a class="state-false" href="/topics/38057#reply-350595">29</a>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="sidebar col-md-3">

        <div class="card">
            <div class="card-body">
                <a class="btn btn-primary btn-block" href="/topics/new">发布新话题</a>
            </div>
        </div>

        <div class="card">
            <div class="card-header">小帖士</div>
            <div class="card-body">
                railscasts.com 上面有很不错的 Rails 开发技巧的视频，通通看完你可以学到很多东西
            </div>
        </div>

        <div class="card">
            <div class="card-header">社区规则</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-archive"></i> <a href="https://ruby-china.org/topics/24325">提问的智慧</a></li>
                <li class="list-group-item"><i class="fa fa-heart"></i> <a href="http://blog.steveklabnik.com/posts/2011-08-19-matz-is-nice-so-we-are-nice" target="_blank">Matz is Nice So We Are Nice</a></li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header">推荐 Ruby 资源</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item"><i class="fa fa-cloud"></i> <a href="/wiki/ruby-mirror">Ruby 镜像</a></li>
                <li class="list-group-item"><i class="fa fa-diamond"></i> <a href="https://gems.ruby-china.com" target="_blank">RubyGems 镜像</a></li>
                <li class="list-group-item"><i class="fa fa-youtube-play"></i> <a href="http://railscasts.com" target="_blank" rel="nofollow">Rails 视频教程</a></li>
                <li class="list-group-item"><i class="fa fa-archive"></i> <a href="https://rails.guide/book/">Rails Guides 中文版</a></li>
                <li class="list-group-item"><i class="fa fa-archive"></i> <a href="https://railstutorial-china.org">Ruby on Rails 教程</a></li>
            </ul>
        </div>

        <!--div class="card">
          <div class="card-header"> UCloud 云服务器低至2折</div>
          <div class="card-body" style="padding:0;">
            <a href="//www.ucloud.cn/site/active/gift.html?utm_source=ruby_china&utm_medium=content_pic_pc&utm_campaign=20181218&utm_content=gift&ytag=ruby_china" title="UCloud 云服务器低至2折"><img src="//l.ruby-china.com/photo/2018/fa9cda7f-9d86-49b7-aeaf-7263d40f1368.jpg!large" style="width: 100%;" /></a>
          </div>
        </div-->

        <div class="card">
            <div class="card-header">友情社区</div>
            <ul class="list-group list-group-flush" style="text-align: center;">
                <li class="list-group-item"><a href="http://cnodejs.org" rel="nofollow" title="CNode 社区" target="_blank"><img src="//l.ruby-china.com/photo/2016/d427ef3efd33b57721df152c2aa1735e.png" style="width:130px; "></a></li>
                <li class="list-group-item"><a href="https://gocn.io" rel="nofollow" title="GoCN 社区" target="_blank"><img src="//l.ruby-china.com/photo/2017/97b87be9-1375-40cb-8d56-29e203a31689.png" style="width:130px; "></a></li>
                <li class="list-group-item"><a href="https://laravel-china.org" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2016/d7782871f3fac7e85a95d20c74046909.png" style="width:130px; "></a></li>
                <!--li class="list-group-item"><a href="http://segmentfault.com" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2016/e91d14ee109ed066e215057ab40257b7.png" style="width:150px; " /></a></li-->
                <li class="list-group-item"><a href="https://testerhome.com/" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2016/5cd78b730062ab3c768bcc2592c5c7fa.png" style="width: 150px;"></a></li>
                <li class="list-group-item"><a href="https://pythoncaff.com" target="_blank" rel="nofollow"><img src="//l.ruby-china.com/photo/2018/00d4dd0a-188b-4c58-a524-46c99244659b.png" style="width: 150px;"></a></li>
            </ul>
        </div>

        <div class="card">
            <div class="card-header">统计信息</div>
            <ul class="list-group list-group-flush">
                <li class="list-group-item">社区会员: 36921 人</li>
                <li class="list-group-item">帖子数: 36687 个</li>
                <li class="list-group-item">回帖数: 348852 条</li>
            </ul>
        </div>

    </div>
</div>
</div>
{{end}}
