{{ define "css"}}
<style type="text/css">
    body {background: #e5e5e5;}
</style>
{{ end }}

{{define "content"}}
<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-offset-1 setting-menu">
            <div class="card">
            {{include "user/sidebar"}}
            </div>
        </div>


        <div class="col-md-9">
            <div class="card">
                <div class="card-body">
                    <form class="edit_user" id="edit_user_10523" enctype="multipart/form-data" action="/setting" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="yGCNXwtvX9oHnb6TJ/tg0Sp1N20sFJuQ0M/80N2pb7Gb+gGhSvbuSIkZ9TUWJ+n9t4QX8PupJBxaoeN48qbasA==">

                        <div class="row">
                            <div class="col-sm-9">

                                <div class="form-group">
                                    <label class="control-label">姓名</label>
                                    <input style="width: 200px" class="form-control" placeholder="姓名" type="text" value="{{.user.Username}}" name="user[name]" id="user_name">
                                </div>

                                <div class="form-group">
                                    <label class="control-label">Email</label>
                                    <input disabled="disabled" class="form-control" placeholder="Email" type="text" value="{{.user.Email}}" name="user[email]" id="user_email">
                                </div>

                                <div class="form-group form-check">
                                    <label for="user_email_public" class="form-check-label">
                                        <input name="user[email_public]" type="hidden" value="0"><input class="form-check-input" type="checkbox" value="1" name="user[email_public]" id="user_email_public"> 公开 Email
                                    </label>
                                </div>

                                <div class="form-group">
                                    <input type="file" name="user[avatar]" id="user_avatar">
                                    <div class="form-text">选择上传头像</div>
                                </div>

                                <div class="form-group">
                                    <textarea class="form-control" name="user[bio]" id="user_bio"></textarea>
                                </div>
                            </div>
                            <div class="col-sm-3">
                                <div class="form-group avatar-preview" style="text-align: center;">
                                    <img class="media-object avatar-96" src="https://l.ruby-china.com/user/avatar/10523/aaaa6a.jpg!lg">
                                </div>
                            </div>
                        </div>
                        <div class="form-actions hide-ios">
                            <button type="submit" class="btn btn-primary" data-disable-with="正在保存">更新资料</button>
                        </div>
                    </form>      </div>
            </div>
        </div>
    </div>
</div>
{{end}}

{{ define "js"}}
{{ end }}