{{ define "css"}}
<style type="text/css">
    body {
        background: #e5e5e5;
    }
    .hero.is-success {
        background: #F2F6FA;
    }
</style>
{{ end }}

{{ define "content"}}

    <section class="hero is-success">
        <div class="hero-body">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey has-text-centered">发送重置密码链接</h3>
                    <p class="subtitle has-text-grey">.</p>
                    <div class="box">
                        {{include "partials/error"}}
                        <form id="app" class="form-signin" method="POST" action="/password/email">
                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input name="email" class="input is-medium" id="email" type="email" placeholder="邮箱地址" v-model="email">
                                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>
                            <button class="button is-block is-link is-large is-fullwidth" type="submit">发送</button>
                        </form>
                    </div>
                    <p class="has-text-grey has-text-centered">
                        <a href="/login">登录</a> &nbsp;·&nbsp;
                        <a href="/register">注册</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{{ end }}

{{ define "js"}}
{{end}}