{{ define "css"}}
<style type="text/css">
    body {
        background: #e5e5e5;
    }
</style>
{{ end }}

{{ define "content"}}

<div class="container">
    <div class="row">
        <div class="col-md-4"></div>
        <div class="col-md-4">
            <form class="form-signin" method="POST" action="/password/email">
                <h1 class="h3 mb-3 font-weight-normal">发送重置密码链接</h1>
                <div class="form-group">
                    <label for="inputPassword" class="sr-only">邮箱地址</label>
                    <input type="password" name="password" id="inputPassword" class="form-control" v-model="password"
                           placeholder="邮箱地址" required>
                </div>
                <button class="btn btn-lg btn-primary btn-block" type="submit">发送</button>
            </form>
        </div>
        <div class="col-md-4"></div>
    </div>
</div>
{{ end }}

{{ define "js"}}
{{end}}