{{ define "css"}}
<style type="text/css">
    /*body {background: #e5e5e5;}*/
    #sidebar ul li{
        list-style-type:none;
        margin-left: -30px;
    }
</style>
{{ end }}

{{define "content"}}
<div class="container">
    <div class="columns" style="margin-top: 0.5rem;">
        <div class="column is-3" id="sidebar">
            <div class="card profile">
{{/*                <div class="card-image">*/}}
{{/*                    <figure class="image is-128x128">*/}}
{{/*                        <img src="{{.user.Avatar}}" alt="{{.user.Username}}">*/}}
{{/*                    </figure>*/}}
{{/*                </div>*/}}
                <div class="card-content">
                    <div class="media">
                        <div class="media-left">
                            <figure class="image is-64x64">
                                <img src="{{.user.Avatar}}" alt="{{.user.Username}}">
                            </figure>
                        </div>
                        <div class="media-content">
{{/*                            <p class="title is-4">{{.user.Username}} ({{if ne .user.RealName ""}}{{.user.RealName}}{{else}}{{.user.Username}}{{end}})</p>*/}}
                            <p class="title is-4">{{.user.Username}}</p>
                            <p class="subtitle is-6"></p>
                        </div>
                    </div>

                    <div class="content">
                        第 {{.user.Id}} 位会员
                        <br>
                        注册于 <span title="注册日期">{{.user.CreatedAt}}</span>
                        <ul>
                            <li>
                                <span title="所在地">
                                    <i class="fas fa-map-marker-alt"></i> {{.user.City}}
                                </span>
                            </li>
                            {{if .user.GithubId}}
                                <li>
                                    <i class="fab fa-github"></i>
                                    <a target="_blank" rel="nofollow" href="https://github.com/{{.user.GithubId}}">
                                        https://github.com/{{.user.GithubId}}
                                    </a>
                                </li>
                            {{end}}
                            {{if .user.PersonalWebsite}}
                                <li>
                                    <i class="fa fa-globe"></i>
                                    <a target="_blank" rel="nofollow" href="{{.user.PersonalWebsite}}">
                                        {{.user.PersonalWebsite}}
                                    </a>
                                </li>
                            {{end}}
                            {{if .user.Email}}
                                <li>
                                    <i class="far fa-envelope"></i>
                                    <a href="mailto: {{.user.Email}}">
                                        {{.user.Email}}
                                    </a>
                                </li>
                            {{end}}
                        </ul>
                    </div>
                </div>

{{/*                <div class="follow-info row hide-ios">*/}}
{{/*                    <div class="col-sm-4 followers" data-login="gazeldx">*/}}
{{/*                        <a class="counter" href="/users/{{.user.Username}}/followers">{{.user.FollowerCount}}</a>*/}}
{{/*                        <a class="text" href="/users/{{.user.Username}}/followers">关注者</a>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="col-sm-4 following">*/}}
{{/*                        <a class="counter" href="/users/{{.user.Username}}/following">4</a>*/}}
{{/*                        <a class="text" href="/users/{{.user.Username}}/following">正在关注</a>*/}}
{{/*                    </div>*/}}
{{/*                    <div class="col-sm-4 stars">*/}}
{{/*                        <a class="counter" href="/users/{{.user_name}}/favorites">108</a>*/}}
{{/*                        <a class="text" href="/users/{{.user_name}}/favorites">收藏</a>*/}}
{{/*                    </div>*/}}
{{/*                </div>*/}}
            </div>
        </div>

        <div class="column is-9">
            <div class="tabs">
                <ul>
                    <li class="is-active"><a  href="/users/{{.user.Username}}/topics">话题</a></li>
                    <li><a href="/users/{{.user.Username}}/replies">回帖</a></li>
                    <li><a href="/users/{{.user.Username}}/favorites/video">收藏的视频</a></li>
                    <li><a href="/users/{{.user.Username}}/favorites/topics">收藏的话题</a></li>
                    <li><a href="/users/{{.user.Username}}/following">正在关注</a></li>
                    <li><a href="/users/{{.user.Username}}/followers">关注者</a></li>
                </ul>
            </div>

            <div class="box">
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <time datetime="2019-04-30 15:37:45.86 +0800 CST">2019-04-30 15:37</time>
                                回复了
                                <a href="/member/tudoukp">tudoukp</a>
                                创建的主题: <a href="/t/51a47353320b52148f00008e">html/template 怎么样才能直接输出HTML</a>
                            </p>
                            <p>@jimmykuu 受用了</p>

                        </div>
                    </div>
                </article>
                <article class="media">
                    <div class="media-content">
                        <div class="content">
                            <p>
                                <time datetime="2019-04-25 18:39:23.13 +0800 CST">2019-04-25 18:39</time>
                                回复了
                                <a href="/member/writethesky">writethesky</a>
                                创建的主题: <a href="/t/542f7389421aa97f1d00003c">go语言如何实现HMAC-SHA1</a>
                            </p>
                            <p>最后的 <code data-backticks="1">hex.EncodeToString</code> 很关键，不然会乱码</p>

                        </div>
                    </div>
                </article>
            </div>
        </div>

    </div>
</div>
{{end}}

{{ define "js"}}
{{ end }}