{{ define "css"}}
<link href="https://cdn.bootcss.com/limonte-sweetalert2/7.33.1/sweetalert2.min.css" rel="stylesheet">
<style type="text/css">
    body {background: #e5e5e5;}
</style>
{{ end }}

{{ define "content"}}

<div class="container">
    <div class="row">
        <div class="col-sm-3 col-md-offset-1 setting-menu">
            <div class="card">
            {{include "user/sidebar"}}
            </div>
        </div>


        <div class="col-md-9">
            <div class="alert alert-warning">注意！更新密码以后需要重新登陆。</div>

            <div class="card">
                <div class="card-body">
                    <form class="edit_user" id="app">
                        <input type="hidden" name="by" value="password">
                        <div class="form-group">
                            <label for="user_current_password">旧密码</label>
                            <input class="form-control" type="password" name="city" v-model="current_password" id="current_password">
                        </div>
                        <div class="form-group">
                            <label for="user_password">密码</label>
                            <input class="form-control" type="password" name="password" v-model="password" id="password">
                        </div>

                        <div class="form-group">
                            <label for="user_password_confirmation">确认密码</label>
                            <input class="form-control" type="password" name="password_confirmation" v-model="password_confirmation" id="password_confirmation">
                        </div>

                        <div class="form-actions hide-ios">
                            <button class="btn btn-primary" data-disable-with="正在保存" @click="doUpdate">修改密码</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "js"}}
<script src="https://cdn.bootcss.com/limonte-sweetalert2/7.33.1/sweetalert2.all.min.js"></script>
<script type="text/javascript">
    var app = new Vue({
        el: '#app',
        data: {
            current_password: '',
            password: '',
            password_confirmation: '',
        },
        delimiters:['${', '}'],
        methods: {
            doUpdate: function (e) {
                e.preventDefault();
                var bodyFormData = new FormData();
                bodyFormData.set('current_password', this.current_password);
                bodyFormData.set('password', this.password);
                bodyFormData.set('password_confirmation', this.password_confirmation);
                let config = {
                    headers: {
                        'Content-Type': 'multipart/form-data'
                    }
                };
                this.$http.post("/settings/password", bodyFormData, config).then((response) => {
                    console.log(response);
                    if (response.data.code === 0) {
                        // http://mishengqiang.com/sweetalert/
                        swal("更新成功！", "","success");
                        setTimeout(function () {
                            window.location.href = "/login";
                        }, 2);
                        return true;
                    } else {
                        swal("修改失败！", "","error");
                        return false;
                    }
                }).catch( error => {
                    console.log(error);
                });
            }
        }
    })
</script>
{{ end }}