<div class="card profile">
    <div class="card-content">
        <div class="media">
            <div class="media-left">
                <figure class="image is-64x64">
                    <img class="is-rounded" style="width: 64px;height: 64px;" src="{{.userInfo.Avatar}}" alt="{{.userInfo.Username}}">
                </figure>
            </div>
            <div class="media-content">
                {{/*                            <p class="title is-4">{{.user.Username}} ({{if ne .user.RealName ""}}{{.user.RealName}}{{else}}{{.user.Username}}{{end}})</p>*/}}
                <p class="title is-4">{{.userInfo.Username}}</p>
                <p class="subtitle is-6"></p>
                {{if .user.IsVip}}
                    <i class="far fa-gem has-text-success"></i>
                {{else}}
                    <i class="far fa-gem has-text-grey-light"></i>
                {{end}}
            </div>
        </div>

        <div class="content"  style="font-size: 13px;">
            第 <span class="tag is-light">{{.userInfo.Id}}</span> 位会员
            <br>
            注册时间： {{.userInfo.CreatedAt}}
            <br>
            {{if .user.IsVip}}
                到期时间：<span class="tag is-success">{{.userInfo.ExpiredAt}}</span>
            {{else}}
                到期时间：<span class="tag is-danger">已过期</span>
            {{end}}
            <ul>
                <li>
                                <span title="所在地">
                                    <i class="fas fa-map-marker-alt"></i> {{.userInfo.City}}
                                </span>
                </li>
                {{if .userInfo.GithubName}}
                    <li>
                        <i class="fab fa-github"></i>
                        <a target="_blank" rel="nofollow" href="https://github.com/{{.userInfo.GithubName}}">
                            https://github.com/{{.userInfo.GithubName}}
                        </a>
                    </li>
                {{end}}
                {{if .userInfo.PersonalWebsite}}
                    <li>
                        <i class="fa fa-globe"></i>
                        <a target="_blank" rel="nofollow" href="{{.userInfo.PersonalWebsite}}">
                            {{.userInfo.PersonalWebsite}}
                        </a>
                    </li>
                {{end}}
{{/*                {{if .userInfo.Email}}*/}}
{{/*                    <li>*/}}
{{/*                        <i class="far fa-envelope"></i>*/}}
{{/*                        <a href="mailto: {{.user.Email}}">*/}}
{{/*                            {{.userInfo.Email}}*/}}
{{/*                        </a>*/}}
{{/*                    </li>*/}}
{{/*                {{end}}*/}}
            </ul>
        </div>
    </div>
</div>