{{ define "css"}}
<style type="text/css">
    body {background: #e5e5e5;}
</style>
{{ end }}

{{ define "content"}}

<div class="container">
    <div class="row">
        <div class="col-sm-2 col-md-offset-1 setting-menu">
            <div class="card">
                <ul class="nav nav-pills flex-column nav-stacked">
                    <li class="nav-item"><a class="nav-link active" href="/settings/basic"><i class="fa fa-user-circle"></i> <span>基本信息</span></a></li>
                    <li class="nav-item"><a class="nav-link hide-ios" href="/settings/profile"><i class="fa fa-address-card"></i> <span>个人资料</span></a></li>
                    <li class="nav-item"><a class="nav-link hide-ios" href="/settings/password"><i class="fa fa-keyboard-o"></i> <span>修改密码</span></a></li>
                </ul>
            </div>
        </div>


        <div class="col-md-10">
            <div class="card">
                <div class="card-body">
                    <form class="edit_user" id="edit_user_10523" enctype="multipart/form-data" action="/setting" accept-charset="UTF-8" method="post"><input name="utf8" type="hidden" value="✓"><input type="hidden" name="_method" value="put"><input type="hidden" name="authenticity_token" value="IAmeDPdvSwq3fvl4AWlTxr7PhZOv/hqAL/MpezgwSwxE+Ubv7o52Jqn1hvYUDiYWKa5BFXCVn0zdg2AmC7cQ1A==">

                        <input type="hidden" name="by" value="profile">
                        <div class="form-group">
                            <label for="user_location">城市</label>
                            <input class="form-control" style="width: 200px" type="text" name="user[location]" id="user_location">
                        </div>

                        <div class="form-group">
                            <label for="user_company">公司</label>
                            <input class="form-control" style="width: 400px" type="text" name="user[company]" id="user_company">
                        </div>

                        <div class="form-group">
                            <label for="user_github">GitHub</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><span class="input-group-text">https://github.com/</span></span>
                                <input class="form-control" type="text" name="user[github]" id="user_github">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_twitter">Twitter</label>
                            <div class="input-group">
                                <span class="input-group-prepend"><span class="input-group-text">https://twitter.com/</span></span>
                                <input class="form-control" type="text" name="user[twitter]" id="user_twitter">
                            </div>
                        </div>

                        <div class="form-group">
                            <label for="user_website">个人主页</label>
                            <input type="url" class="form-control" placeholder="http://" name="user[website]" id="user_website">
                        </div>

                        <div class="form-group form-group-profile-field-alipay">
                            <label for="user_profile_alipay">支付宝</label>
                            <input class="form-control" type="text" value="" name="user[profiles][alipay]" id="user_profile_alipay">

                        </div>
                        <div class="form-group form-group-profile-field-wechat">
                            <label for="user_profile_wechat">微信</label>
                            <input class="form-control" type="text" value="" name="user[profiles][wechat]" id="user_profile_wechat">

                        </div>

                        <div class="form-group">
                            <label for="user_tagline">签名</label>
                            <input class="form-control" type="text" name="user[tagline]" id="user_tagline">
                        </div>
                        <div class="form-actions hide-ios">
                            <button type="submit" class="btn btn-primary" data-disable-with="正在保存">更新资料</button>
                        </div>
                    </form>      </div>
            </div>
        </div>
    </div>
</div>

{{ end }}

{{ define "js"}}
{{ end }}