{{ define "css"}}
<style type="text/css">
    body {
        background: #e5e5e5;
    }
</style>
{{ end }}

{{ define "content"}}
<div class="ui container">
    <div class="ui stackable grid container">
        <div class="row"></div>
        <div class="row"></div>
        <div class="row">
            <div class="five wide column"></div>
            <div class="six wide column">
                <form class="ui large form" method="POST" action="/password/reset">
                    <div class="ui stacked segment">

                        <input type="hidden" name="token" value="{{ .token }}">
                        <div class="field">
                            <label>邮箱</label>
                            <input type="text" name="email" placeholder="邮箱地址" value=""
                                   required
                                   autofocus>
                        </div>
                        <div class="field">
                            <label>密码</label>
                            <input id="password" type="password" class="form-control" name="password" required>
                        </div>
                        <div class="field">
                            <label>确认密码</label>
                            <input id="password-confirm" type="password" name="password_confirmation" required>
                        </div>
                        <button class="ui button" type="submit">重置密码</button>
                    </div>
                </form>
            </div>
            <div class="five wide column"></div>
        </div>
        <div class="row"></div>
        <div class="row"></div>
    </div>
</div>
{{end}}

{{ define "js"}}
{{end}}
