{{ define "css"}}
<style type="text/css">
    body {
        background: #e5e5e5;
    }
    .hero.is-success {
        background: #F2F6FA;
    }
</style>
{{ end }}

{{ define "content"}}
    <section class="hero is-success is-medium">
        <div class="hero-body">
            <div class="container">
                <div class="column is-4 is-offset-4">
                    <h3 class="title has-text-grey has-text-centered">重置密码</h3>
                    <div class="box">
                        {{include "partials/error"}}
                        <form id="app" class="form-signin" method="POST" action="/password/reset">
                            <input type="hidden" name="token" value="{{ .token }}">
                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input name="email" class="input is-medium" id="email" type="email" placeholder="邮箱地址" v-model="email">
                                    <span class="icon is-small is-left"><i class="fas fa-envelope"></i></span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input name="password" class="input is-medium" id="password" type="password" placeholder="密码" v-model="password">
                                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                </div>
                            </div>
                            <div class="field">
                                <div class="control has-icons-left has-icons-right">
                                    <input name="password_confirmation" class="input is-medium" id="confirm_password" type="password" placeholder="确认密码" v-model="confirm_password">
                                    <span class="icon is-small is-left"><i class="fas fa-lock"></i></span>
                                </div>
                            </div>
                            <button class="button is-block is-info is-large is-fullwidth" type="submit">重置密码</button>
                        </form>
                    </div>
                    <p class="has-text-grey has-text-centered">
                        <a href="/login">登录</a> &nbsp;·&nbsp;
                        <a href="/password/reset">忘记密码</a> &nbsp;·&nbsp;
                        <a href="/help">需要帮助？</a>
                    </p>
                </div>
            </div>
        </div>
    </section>
{{end}}

{{ define "js"}}
{{end}}
