
<aside class="menu">
    <ul class="menu-list">
        <li>
            <a class="{{isActive .ctx "/settings/basic"}}" href="/settings/basic">
                <i class="fa fa-user-circle"></i> <span>基本信息</span>
            </a>
        </li>
        <li>
            <a class="{{isActive .ctx "/settings/profile"}}" href="/settings/profile">
                <i class="fa fa-address-card"></i> <span>个人资料</span>
            </a>
        </li>
        <li>
            <a class="{{isActive .ctx "/settings/password"}}" href="/settings/password">
                <i class="fa fa-keyboard-o"></i> <span>修改密码</span>
            </a>
        </li>
    </ul>
</aside>