{{ define "css"}}
    <style type="text/css">
        /*body {background: #e5e5e5;}*/
        #sidebar ul li{
            list-style-type:none;
            margin-left: -30px;
        }
    </style>
{{ end }}

{{define "content"}}
    <div class="container">
        <div class="columns" style="margin-top: 0.5rem;">
            <div class="column is-3" id="sidebar">
                {{include "user/profile_sidebar"}}
            </div>

            <div class="column is-9">
                <div class="tabs">
                    <ul>
                        <li class="is-active"><a  href="/users/{{.userInfo.Username}}/topics">发布的话题</a></li>
                        <li><a href="/users/{{.userInfo.Username}}/replies">发表的回复</a></li>
                        {{/*                    <li><a href="/users/{{.user.Username}}/replies">赞过的话题</a></li>*/}}
                        {{/*                    <li><a href="/users/{{.user.Username}}/favorites/video">收藏的视频</a></li>*/}}
                        {{/*                    <li><a href="/users/{{.user.Username}}/favorites/topics">收藏的话题</a></li>*/}}
                        {{/*                    <li><a href="/users/{{.user.Username}}/following">正在关注</a></li>*/}}
                        {{/*                    <li><a href="/users/{{.user.Username}}/followers">关注者</a></li>*/}}
                    </ul>
                </div>

                <div class="box">
                    {{range .topics}}
                        <article class="media">
                            <div class="media-content">
                                <div class="content">
                                    <p>
                                        <a href="/topics/{{.Id}}">{{.Title}}</a> at {{.CreatedAt}}
                                    </p>
                                </div>
                            </div>
                        </article>
                    {{end}}
                </div>
                <nav class="box pagination is-rounded" role="navigation" aria-label="pagination">
                    {{.pages}}
                </nav>
            </div>

        </div>
    </div>
{{end}}

{{ define "js"}}
{{ end }}